RewriteEngine On
RewriteBase /ProjetMenuCraft/public/

# Ne pas réécrire les fichiers existants (CSS, JS, images)
RewriteCond %{REQUEST_FILENAME} !-f

# Tout rediriger vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]
